/* Layout: map container and recording mode layout */

#map {
	width: 100vw;
	height: 100vh;
}

body.recording {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(100vw, calc(100vh * 16 / 9));
	height: min(100vh, calc(100vw * 9 / 16));
}

body.recording,
body.recording * {
	cursor: none !important;
}

body.recording #map {
	width: 100%;
	height: 100%;
}
